@import 'foundation.sass'

.button_active
    @extend %header_button_defaults
    color: #ffffff
    background: rgb(0, 3, 167)
    border-left-color: rgb(0, 3, 167)
    
.button_inactive
    @extend %header_button_defaults
    color: rgb(0, 3, 167)
    background: #cfc9c9f6
    border-left-color: rgb(0, 3, 167)
    border-width: 1px