@import 'foundation.sass'



.ps-sidebar-root
		position: sticky !important
		top: 0
		height: 100vh
		overflow-y: auto
		border: 0 !important
		background-color: #0d6efd

//sidebar text color
.ps-menu-root
		background-color: #0d6efd
		color: rgb(238, 238, 238)


//hover over menuitems color
.ps-menu-button:hover 
		background-color: rgb(56, 58, 148)  !important
		color: rgb(238, 238, 238)  !important


//text and background color for submenu
.ps-submenu-content 
		color: rgb(238, 238, 238) !important
		background-color: rgb(43, 45, 158)  !important

#MyHomeHeaderPage 
	display: flex
	height: 100vh 

#MyHomeHeaderPage 
	#MainContent 
		flex-grow: 1 
		padding: 0px
		margin:0px
		width: 100vh

#SidebarContent 

#getUsername
	text-decoration: underline
	color : #ffffff

	



